language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - nightly

matrix:
  allow_failures:
    - php: nightly
  fast_finish: true

cache:
  directories:
    - $HOME/.composer/cache

install:
  - travis_retry composer update --no-interaction --no-progress --no-suggest --prefer-dist

script:
  - composer test

after_script:
  - |
    if [[ ${TRAVIS_PHP_VERSION:0:3} == "7.2" ]]
    then
      travis_retry wget --no-verbose https://scrutinizer-ci.com/ocular.phar
      php ocular.phar code-coverage:upload --format=php-clover build/clover.xml
    fi
